<h1>Here's all the restaurants:</h1>

<ul>
<% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant.id) %></li>
<%  end %>
</ul>


<%= link_to 'Create a new restaurant', restaurants_new_path %>
